#botao_coletar_jogador_1{
    display: block;
}

#botao_construir_monumento_jogador_1{
    display: none;
}

#botao_construir_cidade_jogador_1{
    display: none;
}

#botao_treinar_soldado_jogador_1{
    display: none;
}

#botao_ordenar_sacerdote_jogador_1{
    display: none;
}

#botao_formar_medico_jogador_1{
    display: none;
}

#botao_gerar_trabalhador_jogador_1{
    display: none;
}

#botao_mover_exercito_jogador_1{
    display: none;
}

#botao_piramide_grande_jogador_1{
    display: none;
}

#botao_piramide_media_jogador_1{
    display: none;
}

#botao_piramide_pequena_jogador_1{
    display: none;
}

#botao_obelisco_jogador_1{
    display: none;
}

#botao_esfinge_jogador_1{
    display: none;
}

#botao_estatua_jogador_1{
    display: none;
}

#botao_poco_grande_jogador_1{
    display: none;
}

#botao_poco_pequeno_jogador_1{
    display: none;
}

#botao_extratora_grande_jogador_1{
    display: none;
}

#botao_extratora_pequena_jogador_1{
    display: none;
}

#botao_fazenda_grande_jogador_1{
    display: none;
}

#botao_fazenda_pequena_jogador_1{
    display: none;
}

#botao_pedreira_grande_jogador_1{
    display: none;
}

#botao_pedreira_pequena_jogador_1{
    display: none;
}




#botao_coletar_jogador_2{
    display: none;
}

#botao_construir_monumento_jogador_2{
    display: none;
}

#botao_construir_cidade_jogador_2{
    display: none;
}

#botao_treinar_soldado_jogador_2{
    display: none;
}

#botao_ordenar_sacerdote_jogador_2{
    display: none;
}

#botao_formar_medico_jogador_2{
    display: none;
}

#botao_gerar_trabalhador_jogador_2{
    display: none;
}

#botao_mover_exercito_jogador_2{
    display: none;
}

#botao_piramide_grande_jogador_2{
    display: none;
}

#botao_piramide_media_jogador_2{
    display: none;
}

#botao_piramide_pequena_jogador_2{
    display: none;
}

#botao_obelisco_jogador_2{
    display: none;
}

#botao_esfinge_jogador_2{
    display: none;
}

#botao_estatua_jogador_2{
    display: none;
}

#botao_poco_grande_jogador_2{
    display: none;
}

#botao_poco_pequeno_jogador_2{
    display: none;
}

#botao_extratora_grande_jogador_2{
    display: none;
}

#botao_extratora_pequena_jogador_2{
    display: none;
}

#botao_fazenda_grande_jogador_2{
    display: none;
}

#botao_fazenda_pequena_jogador_2{
    display: none;
}

#botao_pedreira_grande_jogador_2{
    display: none;
}

#botao_pedreira_pequena_jogador_2{
    display: none;
}

#botao_casa_vida_jogador_2{
    display: none;
}

#botao_templo_grande_jogador_2{
    display: none;
}

#botao_templo_pequeno_jogador_2{
    display: none;
}

#botao_casa_vida_jogador_1{
    display: none;
}

#botao_templo_grande_jogador_1{
    display: none;
}

#botao_templo_pequeno_jogador_1{
    display: none;
}

#botao_encerrar_acoes_proprias_jogador_1{
    display: none;
}

#botao_encerrar_acoes_proprias_jogador_2{
    display: none;
}