fieldset {
    width: 260px;
}

#fundo_jogador_1{
    background-image: url(imagens/fundo.jpg);
    width: 800px;
    height: 450px;
    border: 3px solid;
    float: left;
}

#tabela_jogador_1{
    display: block;
    width: 800px;
    height: 450px;
    text-align: center;
}

td{
    width: 160px;
    border: 2px solid;
}

tr{
    height: 112.5px;
    border: 2px solid;
}

#fundo_jogador_2{
    background-image: url(imagens/fundo.jpg);
    width: 800px;
    height: 450px;
    border: 3px solid;
    float: right;
}

#tabela_jogador_2{
    display: block;
    width: 800px;
    height: 450px;
    text-align: center;
}

#div_h2_jogador1{
    width: 800px;
    display: block;
    float: left;
}

#h2_jogador_1{
    text-align: center;
}

#div_h2_jogador2{
    width: 800px;
    display: block;
    float: right;
}

#h2_jogador_2{
    text-align: center;
}

#botoes_jogador_1{
    width: 800px;
    float: left;
}

#botoes_jogador_2{
    width: 800px;
    float: right;
}

#titulo_rodada_j1{
    display: block;
    width: 800px;
    text-align: center;
    float: left;
}

#titulo_rodada_j2{
    display: block;
    width: 800px;
    text-align: center;
    float: right;
}

.obrigado-por-jogar{
    text-align: center;
}

#agradecimento{
    display: none;
}

#selecione_terreno_J1{
    display: none;
    float: left;
}

#selecione_terreno_J2{
    display: none;
    float: right;
}